@font-face {
    font-family: 'Protest Riot';
    src: url("../../public/font/Protest_Riot/ProtestRiot-Regular.ttf");
}
@font-face {
    font-family: 'Inconsolata';
    src: url("../../public/font/Inconsolata/static/Inconsolata-ExtraLight.ttf");
}
body{
	margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/*Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: gray black;
}

/*Chrome, Edge, and Safari*/
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid gray;
}

.main_master{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 8rem 0rem 8rem;

    background-color: black;
    color: white;
    font-family: Inconsolata;
}
.master_class_post{
    text-align: justify;
}
.div_class_title{
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
}

h1,h2,h3,h4{
    padding-top: 25px;
    padding-bottom: 20px;

    text-align: center;
}

table {
    border-collapse: collapse;
    color: white;
    
    margin-left: auto;
    margin-right: auto;
}
 
table td, table th{
    border: 1px solid darkgreen;
    color: white;
    text-align: center;

    padding: 15px;
}

pre{
    background: #0d1117;
    color: white;
    padding: 15px;
    
    border-radius: 10px;
}
pre code{
    font-family: Inconsolata;
}

blockquote {
    padding: 14px 14px 12px 12px !important;
    margin: 1em 3em;
    text-align: right;
    font-size: 10pt;
}

blockquote p {
    text-align: left;
    font-size: 12pt;
}

blockquote p:before {
    font-size: 34pt;
    font-weight: bold;
    line-height: 11pt;
    margin-left: -4px;
    margin-right: 8px;
    vertical-align: text-bottom;
    content: '\201C';
    color: #e1e1e1;
    text-shadow: -1px -1px #999;
}

.div_class_post img {
    display: block; /* Garante que a imagem se comporte como um bloco */
    height: 300px;
    width:  300px;
    margin-left: auto; /* Define a margem esquerda como automática */
    margin-right: auto; /* Define a margem direita como automática */
}